<!DOCTYPE html>
<%- include('../views/head.ejs') %>
  <body>
    <!-- <h3>Get Rich Slowly</h3> -->

    <%- include('../views/nav.ejs')%>

    <!-- <nav>
      <div class="site-tittle">
        <a href="/"><h1>Blog For Money</h1></a>

        <p>
          Understanding and managing your finances can be challenging. But never
          fear -- personal finance bloggers are here to save the day! At
          personal finance blogs, you'll find the tools you need to get out of
          debt, save up for your first home, and more. These experts offer free
          tips, tricks, and explanations for complex financial concepts.
        </p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
       <a href="/">Homepage</a>
      <a href="/about">About page</a> -->
    </nav>
    <div class="about Content">
      <h2>Get Rich Slowly</h2>
      <p>
        Understanding and managing your finances can be challenging. But never
        fear -- personal finance bloggers are here to save the day! At personal
        finance blogs, you'll find the tools you need to get out of debt, save
        up for your first home, and more. These experts offer free tips, tricks,
        and explanations for complex financial concepts.
      </p>
    </div>
    <%- include('../views/footer.ejs') %>
  </body>
</html>
